@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.ViewModels
@using BookCave.Models.EntityModels
@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
}

@if(SignInManager.IsSignedIn(User))
{
    <div class="floatright navbar-nav">
        <ul class="hugetext navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Cart" asp-action="Index">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Profile" asp-route-id="@claim" class="navbar-link">Profile</a>
                </li>
            </ul>
        <form class="extra-space form-inline my-2 my-lg-0" asp-action="LogOut" asp-controller="Account" method="POST">
                    <button type="submit" class="btn btn-outline-danger my-2 my-sm-0">Log Out</button>
        </form>
    </div>
}else
{
    <ul class="hugetext navbar-nav floatright">
        <li class="nav-item">
            <a class="nav-link" sp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}