@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookCave.Models.ViewModels
@using BookCave.Models.EntityModels
@inject SignInManager<ApplicationUser> SignInManager

@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
}

@if(SignInManager.IsSignedIn(User))
{
    <form asp-action="LogOut" asp-controller="Account" method="POST">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-action="Index" asp-controller="Profile" asp-route-id="@claim" class="navbar-link">Profile</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log Out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
        </li>
    </ul>
}