@await Html.PartialAsync("_ProfilePartial")
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using BookCave.Models.ViewModels;
@using BookCave.Models.EntityModels;
@model BookCave.Models.ViewModels.UserViewModel
<div Id="EditArea">
        <div class="form-group">
                <img src=@Model.Image height="120" width="120" alt="No Photo">
                <p>@Model.Name</p>
                <p>@Model.FavBook</p>
                <p>@Model.Description</p>
        </div>
</div>