@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@using BookCave.Models.ViewModels;
@using BookCave.Models.EntityModels;
@model BookCave.Models.ViewModels.UserViewModel
@{
    var claim = ((ClaimsIdentity) User.Identity).Claims.FirstOrDefault(c => c.Type == "Id")?.Value;
}
@if(@Model.Id.ToString() == @claim)
{
        @await Html.PartialAsync("_ProfilePartial")
}
<div class="col-sm-8">
        <div class="col-sm-6">
                <h4>@Model.Name</h4>
                <img src=@Model.Image height="300" width="300" alt="No Photo">
                <h4>Favorite Book: @Model.FavBook</h4>
        </div>
                <div class="col-sm-4">
                        <h4>User Description</h4>
                        <div>
                                <p>@Model.Description</p>
                        </div>
                </div>
        </div>
</div>
