@model BookCave.Models.ViewModels.UserViewModel
<div class="col-sm-2 sidebar-offcanvas">
    <div class="list-group">
        <a class="list-group-item active">Account Information</a>
        <a href="#" class="list-group-item">Payment Information</a>
        <a class="list-group-item">WishList</a>
        <a href="#" class="list-group-item">Order History</a>
        <a href="#" class="list-group-item">Edit Profile</a>
        <a href="#" class="list-group-item">Address</a>
    </div>
</div>
<div class="col-sm-7 jumbotron">
    <ul>
        <li></li>
    </ul>
</div>