@await Html.PartialAsync("_ProfilePartial")
@model BookCave.Models.ViewModels.WishListViewModel
<div class="col-sm-6">
    <h3>Wishlist</h3>
    <div class="jumbotron">
        <ul>
            @foreach(var Book in @Model.Items)
            {
                <li><a asp-action="Details" asp-controller="Book" asp-route-id="@Book.BookId">@Book.BookName</a></li>
            }
        </ul>
    </div>
</div>
