@model List<BookCave.Models.ViewModels.BookViewModel>

<div class="jumbotron">
    <ul>
        @foreach(var b in Model)
        {
            <li><a asp-action="Details" asp-controller="Book" asp-route-id="@b.ID">@b.Name</a></li>
        }
    </ul>
</div>

