@model List<BookCave.Models.ViewModels.BookViewModel>

<div class="jumbotron">
    <ul>
        @foreach(var book in Model)
        {
            <li><a asp-action="Details" asp-action="Book" asp-route-id="@book.Id">@book.Name</a></li>
        }
    </ul>
</div>
