@model List<BookCave.Models.ViewModels.SubCategoryViewModel>

<div class="jumbotron">
    <ul>
        @foreach(var category in @Model)
        {
            <li><a asp-action="AllInSubCategory" asp-controller="Category" asp-route-id="@category.ID">@category.Name</a></li>
        }
    </ul>
</div>

