@model List<BookCave.Models.ViewModels.SubCategoryViewModel>

<div class="jumbotron">
    <div></div>
    <ul>
        @foreach(var c in @Model)
        {
            <ul>
            @foreach (var b in @c.Top10Books)
            {
                <li><a asp-action="Details" asp-controller="Book" asp-route-id="@b.ID"> --- @b.Name</a></li>
            }
            </ul>
        }
    </ul>
</div>

