@model List<BookCave.Models.ViewModels.BookViewModel>
<div>
<form asp-action="Index" asp-controller="Home">
    <input type="text" name="search">
    <input type="submit" value="Search" class="">
</form>
    @foreach(var book in @Model)
    {   
        <div>
            <a asp-action="Details" asp-controller="Book" asp-route-id="@book.ID" asp-route-userid="1">@book.Name</a>
            <p>Book Rateing: @book.Rating.ToString("0.0")</p>
        </div>
    }
</div>