@model List<BookCave.Models.ViewModels.BookViewModel>
<div>
    @foreach(var book in @Model)
    {   
        <div>
            <a asp-action="Details" asp-controller="Book" asp-route-id="@book.Id">@book.Name</a>
            <p>Book Rateing: @book.Rating.ToString("0.0")</p>
        </div>
    }
</div>